.header{
    min-height: 100vh;
    width: 100%;
    opacity: 1.0;
    background-image: url(istockphoto-1344939844-170667a.jpg);
    background-size: cover;
    background-position: center;
    position: relative;    
}
.text-box{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    opacity: 1.0;
}
.text-box h5{
    font-size: 50px;
    opacity: 1.0;
    color: #ffffff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
   color: rgb(255, 255, 255);
   border: 1px solid rgb(255, 255, 255);
   padding: 12px 34px;
   font-size: 25px;
   background: transparent;
   position: relative;
   cursor: pointer; 
   opacity: 1.0;
}
.hero-btn:hover{
    border: 1px solid rgb(255, 255, 255);
    background: #6cbdf08c;
    transition: 1s;
    opacity: 1.0;

}