/* BASIC */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(0,0,0,1);
    color: rgb(255, 255,255);
}

.nav-links a {
    color: rgb(255, 254,254);
    font-weight: 400;
    position: relative;
}


/* LOGO */
.logo img {
    padding-left: 25%;
}



/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}



.menu li {
    padding: 5px 14px;
}



.menu li a::after{
    content: '';
    width:0;
    height: 2px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}
.menu li a:hover::after{
    width: 100%;
}
