
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

    body{
        color: black;
    }



#header{
    width: 100%;
    height: 100vh;
    /* background-image: url(/Photos/business.jpg);
    background-size: cover; */
    background: white;
}

.container{
    padding: 20px 5%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  
}

.logo{
    width: 200px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height:3px;
    position: absolute;
    background: black;
    left :0;
    bottom: -6px;
    transition: 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}

nav ul li a.active-link::after{
    width: 80%;
}

.front{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-text{
    flex-basis: 60%;
    padding: 8%;
}

 .side-image img{
    width: 100%;
}

.side-image{
    flex-basis: 40%;
}


.header-text p{
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.header-text h1 span{
    color: black;
    font-size: 60px;
    font-weight: bold;
}

.button input{
    margin-top: 50px; 
    color: #fff;
    background: #1d1d1e;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.4s ease ; 
    border: none;
}

#submit{
    padding: 15px 40px;
    font-size: 20px;
    opacity: 0.8;

}

#submit:hover{
    background: #ddd8e4;
    color: black;
    font-weight: bold;
    
}


/* ABOUT SECTION */

#about{
    padding: 80px 0;
    background: black;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1, .services-col-2{
    flex-basis: 40%;

}


.about-text{
    line-height: 2;
    font-size: 20px;
    color: white;
}

.about-col-1  img,
.services-col-2 img{
width: 100%;
border-radius: 15px;
}

.about-col-2{
    margin-top: 5%;
    flex-basis:55%;
    color: white;
}

.services-col-1{
    flex-basis: 55%;
    color: black;
}

.about-col-2 .about-header{
    margin-bottom: 30px;
    font-size: 50px;
    color: grey;
}



.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}



.tab-link{
    margin-right: 20px;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    color: rgb(72, 68, 68);
}

.tab-link::after{
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -8px;
    background: black;
    transition: 0.4s;
}

.tab-link.active-link::after{
width: 50%;

}

.tab-contents ul li{
    list-style: none;
    margin: 20px 0;
}

.tab-contents ul li span{
    font-weight: 600;
    font-size: 20px;
}

.tab-contents{
display: none;
}

.tab-contents.active-tag{
    display: block;
}

/* Offer page */

#services{
    padding: 80px 0;
    width: 100%;
    height: 100vh;

}

#services .services-col-1 p{
margin-top: 10px;
}

.services-col-1 h1{
    font-size: 40px;
    color: rgb(66, 58, 58);
}


/* Services page */

#services-new{

padding: 80px 0;
width: 100%;
height: 100vh;
background-color: black;
}

#services-new .container .row{
    display: flex;
    justify-content: space-between;
    
}

#services-new .row .services-card-1, .services-card-2, .services-card-3{
flex-basis: 30%;
}


#services-new .new-heading{
color: grey;
font-size: 25px;
text-align: center;
margin-bottom: 40px;
}

#services-new  img{
     width: 100%;
     border-radius: 15px;
}

/* #services-new .button{
    margin-top: 30px;
    text-align: center;
} */

/* #services-new .services-more {
    text-align: center;
    padding: 10px;
    background: #ddd8e4;
    color: black;
    /* font-weight: bold; */
    /* border-radius: 5px;
    font-size: 15px;
    transition: all 0.4s ease; 
} 
*/

/* #services-new .services-more:hover {
    background: #1d1d1e;
    color: #fff;
} */


